# Ignore Python virtual environment
venv/
__pycache__/
*.pyc

# Ignore system files
.DS_Store

# Ignore IDE files
.vscode/
.idea/

# Ignore embedded repos
volatility3/
venv/ 
__pycache__/ 
*.pyc 
volatility3/ 
